*{
  margin: 0;
  padding: 0;
}  

#iPhone h1{
  text-align: center;  
  margin-top: 10vh; 
  color: #0D0D0D;
  margin-bottom: 15vh;
}

.nav-link{
  color: #a9a9a9;
  font-weight: bolder;
}

#divHome{     
  margin-left:76vw;
  padding: 1vw;
}

#caixaIphone{
  background-color: #0D0D0D;
  height: 150vh;
  color: #ffff;
  text-align: center;
}

#Watch img{
  width: 10vw;
  height: 45vh;
  margin: 10vh;
 
}

#iPadOS p{
  text-align: left;
  margin-left: 20vw;
}

#iPadOS hr{
  width: 55vw;
  margin-left: 20vw;
} 

footer{
  background-color: #111;
  color: #808080;
  height: 41vh;
  margin-top: 15vh;
}

footer hr{
  width: 57vw;
  margin-left: 15vw;
}

footer p{
  margin-left: 15vw;
  font-size: 0.9rem;
  margin-bottom: 0.4vh;
}

u{
  color: #0D0D0D;
}

#caixaIphone img{
  width: 7vw;
}

#Watch{
  margin-top: 15vh;
  margin-bottom: 20vh;;
}

#iPadOS{
  text-align: center;
}

#iPadOS img{
  border-radius: 20px;
}